:root{
    --color-azul: #08074e;
    --color-rosa: #c22353;
    --border: 8px;
   }


body{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    background-color: rgba(56,18,81,0.1);
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
  
}

/*//// NAVBAR ////*/

.supbarnav, .supbarnavfixed{
 
    height: 70px;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    z-index: 5;

}

.supbarnavfixed{
    position: fixed;
}

.menulogo{
    visibility: visible;
    transition: all 100ms ease-in-out;
}

.menulogohidden{
    visibility: hidden;
    transition: all 100ms ease-in-out;
}


.hidecontsidebar{
    visibility: hidden;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    position: fixed;
    height: 100vh;
    background-color: white;
    transition: all 500ms ease;
    transform: translateX(100%);
    -webkit-box-shadow: -7px 5px 20px 2px rgba(0,0,0,0.25);
-moz-box-shadow: -7px 5px 20px 2px rgba(0,0,0,0.25);
box-shadow: -7px 5px 20px 2px rgba(0,0,0,0.25);
z-index: 5;
    

}

.blackClass{
    font-size: 50px;
    color: black;
    visibility: hidden;
    transition: all 500ms ease;
}

.redClass{
    font-size: 50px;
    color: red;
}

.showcontsidebar{
    visibility: visible;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    position: fixed;
    height: 100vh;
    background-color: white;
    transition: all 500ms ease;
    transform: translateX(0%);
    -webkit-box-shadow: -7px 5px 20px 2px rgba(0,0,0,0.25);
-moz-box-shadow: -7px 5px 20px 2px rgba(0,0,0,0.25);
box-shadow: -7px 5px 20px 2px rgba(0,0,0,0.25);
z-index: 5;
   
}



.sidebar a{

    color: black;
    font-size: 1.2rem;
    text-decoration: none;

}

.supimglinc-first, .supimglinc-middle, .supimglinc-third{
    margin: .5rem;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    transition: all 200ms ease-in-out;
}


.supimglinc-first{
    background-image: url(../img/index2.jpg);
}

.supimglinc-middle{
    background-image: url(../img/mapas2.jpg);
}

.supimglinc-third{
    background-image: url(../img/universales2.jpg);
}

.lincfirst:hover > .supimglinc-first { 
    background-image: url(../img/Index.gif);
    transition: all 200ms ease-in-out;
    transform: scale(1.1);
}


.linc-middle:hover > .supimglinc-middle { 
    background-image: url(../img/Mapas.gif);
    transition: all 200ms ease-in-out;
    transform: scale(1.1);
}


.lincthird:hover > .supimglinc-third { 
    background-image: url(../img/Universales.gif);
    transition: all 200ms ease-in-out;
    transform: scale(1.1);
}


.lincfirst:hover, .linc-middle:hover, .lincthird:hover {
    font-weight: 400;
    color: #081257;
}


.lincfirst, .linc-middle, .lincthird{
text-align: center;    

}

.linc-middle{
margin: 2rem 0;

}



.logo {
    width: 70px;
   
}

.menutxt, .menublack {
    color:white;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    


}

.menublack{
    color: black;

}

.menutxt:hover {
    color:white;

}

.menublack:hover{
    color: red;
}

.menutxt:after{
    content: "";
    position: absolute;
    background-color: white;
    width: 100%;
    height: 1px;
    left:0;
    bottom: 0;
    transition: transform 0.3s ease;
    transform: scale(0, 1);
      
}

.menutxt:hover:after{
    transform: scale(1, 1);
  
}

/*//// SECTION 1////*/


.unbanner1{
    background-image: url( "../img/pag_2_768.jpg");
    background-position:center;
    background-repeat: no-repeat;
    color: white;
    padding-top: 7%;
    padding-bottom: 8%;
}

.bloque1{
    height: 9.37rem;
    background-color: #050316;
    border-radius: var(--border);
    opacity: 90%;

}
.bloque1 > span{
    font-size: 1.5em;
}
.bloque1 > p{
    font-size: 1em;
}

/*//// SECTION 2////*/


.tiposdeclientes{
   margin-top: 5rem;
 margin-bottom: 5rem;

}

.imgcliente, .imgcliente2{
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    width: 45%;

}

.imgcliente2{
    object-position: left;
}

.supimgcliente{
 width: 50%;
}


.imgideal{

    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    width: 300px;
    margin-left: 1rem;

}

.supimgideal{
    width: 33%;
}

.txtideal1, .txtideal2{
    width: 33%;
    margin: 2rem;
    }

.txtcliente{
width: 50%;
margin: 2rem;
}

.clienteideal{
    height: 320px;
    border-radius: 8px;
    margin-top: 5rem;
    margin-bottom: 10rem;
    }
    

.unsection2{
    background-color: #f3eefe;
    border-radius: 40px;
    margin-top: -70px;
    z-index: 1 !important;
    padding-bottom: 5rem;
  
}


.unkardhead{
    font-size: 1.2em;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

.suppropsitio{
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.imgprositio{
     margin-top: 4rem;
}

.supesquema{
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.esquema {
 background-color: #ffe15d;
 border-radius: var(--border);
 padding-top: 5rem;
 padding-bottom: 5rem;


}

.imgesquema {
 margin-top: .5rem;
    
   }

.colores > div{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    -webkit-box-shadow: 5px 5px 12px 3px rgba(0,0,0,0.06);
    -moz-box-shadow: 5px 5px 12px 3px rgba(0,0,0,0.06);
    box-shadow: 5px 5px 12px 3px rgba(0,0,0,0.06);


}
.colorwhite{
    background-color: white;
}
.colorblack{
    background-color: black;
}
.coloramarillo{
    background-color: #ffe15d;
}

.supdetalles{
    margin-bottom: 6rem;
    margin-top: 3rem;
}

.detalles{
    height: 12.5rem;
    border-radius: var(--border);
}



.logo{
    width: 90px;
}
.tipografia > span{
    font-size: 2rem;
    color: #ffe15d;
    font-weight: 700;

}

.objetivowor{
    background: rgb(41,35,68);
    background: linear-gradient(180deg, rgba(41,35,68,1) 0%, rgba(26,24,34,1) 100%);
    margin-bottom: 5rem;
}


.txt-objetivo{
    color: white;
    width: 30%;
}

.unkardhead-obj{
    color: white;

}

.imgobj{
    border-radius: 20px;
    border: solid 6px rgba(255, 255, 255, 0.9);

}

.suptarjetas{
 margin-top: 8rem;
 margin-bottom: 8rem;
}

.kard, .kardmiddle{
    height: 300px;
    background-color: white;
    border-radius: var(--border);
    opacity: .8;
  
}

.kardmiddle{
    margin-left: 4rem;
    margin-right: 4rem;
}

.untxtkard{
    color: white;
    margin: 0;
}

.supdresponsive{
    margin-bottom: 5rem;
}

.dresponsive{
    height: 600px;
    background-color: #e5e0fe;
}
.txtdresponsive{
    margin-left: 3rem;
}

.drespimg{
    width: 350px;
}
   

/*//// FOOTER ////*/
.footer{
    
    background: linear-gradient(0deg, rgba(34,21,2,1) 0%, rgba(18,8,75,1) 73%);
    height: 170px;
   
}


.redes{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    border: solid 2px white;
    
}
.red:hover{
    transform: scale(0.94);
    opacity: .8;
    transition: .5s;
  
}


